/* ----------------------- GLOBAL STYLES ----------------------- */
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  background-color: var(--Yellow);
}

p {
  font-size: 16px;
}

/* ----------------------- Container ----------------------- */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 384px;
  padding: 24px;
  border-radius: 19px;
  background-color: var(--White);
  border: 1px solid var(--Gray-950);
  box-shadow: 8px 8px 0px 0px var(--Gray-950);
}

.card-img {
  border-radius: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.card-content a {
  background-color: var(--Yellow);
  padding: 4px 13px;
  align-self: flex-start;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 800;
  color: var(--Gray-950);
}

.card-title {
  font-weight: 800;
}

.card-desc {
  color: var(--Gray-500);
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
}

.author-img {
  width: 35px;
  height: 35px;
}
